.have-say {
  margin-top: 2rem;
}
.profile-header {
  display: flex;
  justify-content:center;
  align-items: flex-end;
}
.profile {
  margin-top: 2rem;
  width: 25rem;
  height: 25rem;
  border-radius: 70%;

}
.user-name {
  font-weight: bold;
  font-size:xx-large;
  display: flex;
  justify-content:center;
  padding-top: 10px;
}
.profile-update-text {
  font-weight:700;
  color:rgb(27, 109, 10);
  padding-bottom: 10px;
  font-size: large;
}
.post-button {
  max-width: 45rem;
  margin: auto;
}
.get-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.post-card {
  border-style:solid;
  border-color: rgb(226, 223, 223);
  padding: 0.5rem 0rem 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 44rem;
}
.post-text {
  font-size: x-large;
}
.posted-user-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}
.posted-user-pic {
  width: 90px;
  height: 90px;
  border-radius: 70%;
}
.posted-user-name {
  font-weight: bold;
  font-size: large;
}
.posted-file {
  width: 40rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.like-button {
  border: none;
  background-color: unset;
}
.sort-by {
  font-weight: 700;
  color: rgb(20, 107, 220);
}
.comment-user-pic {
  width: 50px;
  height: 50px;
  border-radius: 70%;
}
.comment-details {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.comment {
  background-color: rgb(230, 233, 236);
  padding: 0.5rem;
  border-radius: 1rem;
}
.reply {
  margin-left: 2rem;
}
@media(min-width:300px)
{
  .profile{
    width:15rem;
    height:15rem;
  }
  .post-card {
    width: 19rem;
  }
  .posted-file {
    width: 17rem;
  }
  .posted-user-pic {
    width: 40px;
    height: 40px;
  }
  .comment-user-pic {
    width: 30px;
    height: 30px;
  }
}
@media(min-width:400px)
{
  .profile{
    width:18rem;
    height:18rem;
  }
  .post-card {
    width: 28rem;
  }
  .posted-file {
    width: 26rem;
  }
  .posted-user-pic {
    width: 45px;
    height: 45px;
  }
  .comment-user-pic {
    width: 35px;
    height: 35px;
  }
}
@media(min-width:500px)
{
  .profile{
    width:20rem;
    height:20rem;
  }
  .post-card {
    width: 30rem;
  }
  .posted-file {
    width: 28rem;
  }
}
@media(min-width:650px)
{
  .profile{
    width:23rem;
    height:23rem;
  }
  .post-card {
    width: 35rem;
  }
  .posted-file {
    width: 32rem;
  }
  .posted-user-pic {
    width: 50px;
    height: 50px;
  }
  .comment-user-pic {
    width: 40px;
    height: 40px;
  }
}
@media(min-width:750px)
{
  .profile{
    width:25rem;
    height:25rem;
  }
  .post-card {
    width: 40rem;
  }
  .posted-file {
    width: 38rem;
  }
  .posted-user-pic {
    width: 55px;
    height: 55px;
  }
}
.comment-box {
  border: 1px solid rgb(158, 155, 155);
  margin: 1rem;
  width: 70%;
  border-radius: 1rem;
  padding: 4px;
}
.comment-box:focus {
  outline: none;
  border-color: rgb(58, 55, 55);
}
@media(min-width:850px)
{
  .posted-user-pic {
    width: 60px;
    height: 60px;
  }
  .comment-user-pic {
    width: 45px;
    height: 45px;
  }
  .post-card {
    width: 44rem;
  }
  .posted-file {
    width: 40rem;
  }
}